

.svg {
  width:150px ;
  height: 70px ;
}



.sidebar {
  margin: 6px;
  padding: 7px;
  min-width: fit-content;
  height: 80vh;
  border: 1px solid #aaa;
  background: #D3D3D3;

}







@media (max-width: 576px) {
  .svg {
    width:130px ;
    height: 55px ;
  }

  .navbar-toggler-icon{
    height: 25px;
  }
}


