nav ul {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;

}

li {
  text-align: center;
  margin: 15px;
  display: inline;
}
nav a {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
  font-size: 1.2rem;
}

.active {
  background-color: aliceblue;
}
