p {
  text-overflow: ellipsis;
}

.cover{
  object-fit: contain;
  object-position: center;
}

.product{
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding-top: auto;
}

img {
  background-size: cover;
  background-position: center;
}




