p {
  text-overflow: ellipsis;
}

.cover{
  object-fit: contain;
  object-position: center;
}

.product{

  margin-top: auto;
  padding-top: auto;
}
.product:hover {
  transform: scale(1.01);
}

img {
  width:100%;
  height:300px;
  background-size: cover ;
  background-position: center;
}

.button {
  margin-top: auto;
}



@media (max-width: 1250px) {
  img {
    width: 100%;
    height: 200px;
  }


}





